<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <h1 class="brand"><a href="/">Pierre Moreau's Portfolio</a></h1>
            <nav class="nav-collapse">
                <ul class="nav">
                    <li><a href="/graphicdesign/">Graphic Design</a></li>
                    <li><a href="/illustration/">Illustration</a></li>
                    <li><a href="/photography/">Photography</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
