<!doctype html>
<html>
    <head>
        <title>{{ page.title }} - {{ site.title }}</title>
        {% include doc-head.html %}
    </head>
    <body>
        {% include header.html %}
        <section class="container">
            {% for post in site.categories[page.section] %}
                <a href="{{ post.url }}" class="row">
                    <article class="span12">
                        <section class="row">
                            <div class="span12 hbanner">
                                <img src="/{{ site.thumbnails_dir }}/banner-{{ post.images.first.image }}" />
                            </div>
                        </section>
                        <header class="row">
                            <h2 class="span12">{{ post.title }}</h2>
                        </header>
                    </article>
                </a>
            {% endfor %}
        </section>
        {% include footer.html %}
        {% include doc-foot.html %}
    </body>
</html>
